<html ng-app="appIndex">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./index.css" />
		<script>
            document.write("<script src=\"http://api.map.baidu.com/api?v=3.0&ak=" + require("./api-key.js") + "\"><\/script>");
        </script>
        <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
        <script>
            window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');
            require('../node_modules/bootstrap/dist/js/bootstrap.min.js');
            require('../node_modules/angular/angular.min.js');
            require('./index.js');
        </script>
    </head>
    <body ng-controller="IndexController" style='overflow:hidden'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 well" style="height:75%">
                    <div id="map" class="baidu-maps" style="height:100%"></div>
                </div>
            <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <button type="button" class="close" aria-label="Close" ng-if="state==2">
                            <span aria-hidden="true" ng-click="resetState()">&times;</span>
                        </button>
                        <strong>{{message[state]}}</strong>
                        <div ng-if="state==2">
                            <ul>
                                <li>Passengers originally on board: <em>{{numOnBoard}}</em></li>
                                <li ng-if="numOnBoard>0">Original passengers' distance: <em>{{oldDist}}m</em></li>
                                <li>Pick-up distance: <em>{{pickDist}}m</em></li>
                                <li>After-pick-up distance: <em>{{afterDist}}m</em></li>
                                <li>Distance directly to our destination: <em>{{aloneDist}}m</em></li>
                                <li>Our detour: <em>+{{ourDetour}}m</em></li>
                                <li ng-if="numOnBoard>0">Original passengers' detour: <em>+{{theirDetour}}m</em></li>
                            <ul>
                        </div>
                    </div>
                </div>
            <div>
        </div>
    </body>
</html>

